<div class="container" id="containerQR">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Scanear Lote</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <video id="qr-video"></video>
    </div>
  </div>
</div>
<script type="module">
  import QrScanner from "../node_modules/qr-scanner/qr-scanner.min.js";
  var videoElem = document.getElementById("qr-video")
  const  qrScanner  =  new  QrScanner ( videoElem ,  resultado  => qrScanner.stop()(  window.location = "https://5ac9-187-18-103-210.sa.ngrok.io/app/resultado/"+resultado.replace("/", "*"))) ;
  qrScanner.start();
</script>
<style>
  #qr-video {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

</style>